.LoginPage .OuterContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #0e9da2;
}

.LoginPage .InnerContainer {
  width: 400px;
  max-height: 500px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 32px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 16px -7px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 500px) {
  .LoginPage .InnerContainer {
    width: 100vw;
    max-height: 100vh;
    border-radius: initial;
  }
}

.LoginPage .FormContainer {
  display: flex;
  flex-direction: column;
}

.LoginPage .FormContainer::after {
  content: '';
  display: block;
  height: 32px;
}

.LoginPage h1.Title {
  font-size: 30px;
  margin: 24px 0px;
  text-align: center;
}

.LoginPage label.Label {
  color: #2980b9;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  width: max-content;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 8px;
}

.LoginPage img {
  max-height: 270px;
  width: 250px;
  align-self: center;
  margin-bottom: 24px;
}

.LoginPage form {
  flex: 1;
}

.LoginPage .FormGroup {
  margin-bottom: 16px;
}

.LoginPage .FormGroup .ErrorMessage {
  opacity: 0%;
  max-height: 0px;
  overflow: hidden;
  animation: spawn-error 0.4s ease-in forwards;
  color: #c0392b;
  font-size: 12px;
  margin-top: 1px;
  padding-left: 2px;
}

.LoginPage .FormGroup.__is-error input {
  border: 1px solid #c0392b;
  margin-bottom: 4px;
}

.LoginPage input {
  width: 100%;
  padding: 12px;
  border: 1px solid #999;
  border-radius: 4px;
  outline: none;
}

.LoginPage input::placeholder {
  font-weight: 300;
}

.LoginPage .FormGroup:last-child {
  margin-bottom: initial;
}

.LoginPage .ButtonContainer {
  margin-top: 32px;
}

.LoginPage button {
  width: 100%;
  height: 56px;
  cursor: pointer;
  background: #3498db;
  border: none;
  font-size: 24px;
  color: #fff;
  font-weight: bolder;
  border-radius: 2px;
  transition: opacity 0.2s ease-out;
  border: 1px solid #0b7cc6;
}

.LoginPage button:not(:disabled):hover {
  background: #56abe3;
}

.LoginPage button:disabled {
  opacity: 30%;
  cursor: not-allowed;
}

@keyframes spawn-error {
  0% {
    opacity: 0%;
    max-height: 0px;
  }

  66% {
    max-height: 80px;
  }


  100% {
    opacity: 100%;
    max-height: 80px;
  }
}
